# 此文件为 EditorConfig 配置文件，用于设置跨编辑器的代码格式化规则。
# root = true 表示此文件是根配置文件。
root = true

[*]
charset = utf-8 # 文件字符集为 UTF-8
end_of_line = lf # 行结束符为 LF
ij_xml_attribute_wrap = off # IntelliJ IDEA 中 XML 属性不换行
ij_xml_text_wrap = off # IntelliJ IDEA 中 XML 文本不换行
indent_size = 4 # 缩进大小为 4 个空格
indent_style = space # 使用空格进行缩进
insert_final_newline = false # 不在文件末尾插入空行
max_line_length = 150 # 行长度限制为 150 个字符
trim_trailing_whitespace = true # 删除行尾的空格

[{*.json,*.yml}]
indent_size = 2 # 对于 JSON 和 YAML 文件，缩进大小为 2 个空格

[*.cs]
dotnet_analyzer_diagnostic.severity = warning # 设置 C# 文件中所有 dotnet_analyzer_diagnostic 的严重性级别为 warning
dotnet_diagnostic.ASA002.severity = suggestion
dotnet_diagnostic.CA1000.severity = none # 泛型类型不应声明静态成员
dotnet_diagnostic.CA1707.severity = none # 标识符不应包含下划线
dotnet_diagnostic.CA1711.severity = none # 标识符不应使用错误的后缀
dotnet_diagnostic.IDE0008.severity = none # 应使用显式类型而不是 var
dotnet_diagnostic.IDE0010.severity = suggestion # switch 语句应包含所有可能的情况
dotnet_diagnostic.IDE0028.severity = suggestion # 简化集合初始化
dotnet_diagnostic.IDE0045.severity = suggestion # 将赋值语句转换为条件表达式
dotnet_diagnostic.IDE0046.severity = suggestion # 将返回语句转换为条件表达式
dotnet_diagnostic.IDE0048.severity = suggestion # 为清楚起见，应添加括号
dotnet_diagnostic.IDE0055.severity = none # 修正代码格式
dotnet_diagnostic.IDE0072.severity = suggestion # switch 表达式应包含所有可能的情况
dotnet_diagnostic.IDE0160.severity = none # 将块范围命名空间转换为文件范围命名空间
dotnet_diagnostic.RCS1238.severity = suggestion # Avoid nested ?: operators
dotnet_diagnostic.S1075.severity = suggestion # URI 不应硬编码
dotnet_diagnostic.S1313.severity = suggestion # IP 地址不应硬编码
dotnet_diagnostic.S3358.severity = suggestion
dotnet_diagnostic.S4830.severity = suggestion # 应在 SSL/TLS 连接期间验证服务器证书
dotnet_diagnostic.S6960.severity = suggestion # API 控制器应遵循统一的设计规范
dotnet_diagnostic.SA1001.severity = suggestion # 逗号应正确设置空格
dotnet_diagnostic.SA1009.severity = suggestion # 右括号应正确设置空格
dotnet_diagnostic.SA1101.severity = suggestion # 本地调用应使用 this 前缀
dotnet_diagnostic.SA1111.severity = suggestion # 右括号应与最后一个参数位于同一行
dotnet_diagnostic.SA1113.severity = suggestion # 逗号应与前一个参数位于同一行
dotnet_diagnostic.SA1117.severity = suggestion # 参数应位于同一行或分别换行
dotnet_diagnostic.SA1200.severity = suggestion # using 指令应放置在正确位置
dotnet_diagnostic.SA1309.severity = suggestion # 字段名称不应以下划线开头
dotnet_diagnostic.SA1310.severity = suggestion # 字段名称不应包含下划线
dotnet_diagnostic.SA1413.severity = suggestion # 多行初始化器应使用尾随逗号
dotnet_diagnostic.SA1500.severity = suggestion # 多行语句的花括号不应与语句位于同一行
dotnet_diagnostic.SA1623.severity = suggestion # 属性摘要文档应与访问器匹配
dotnet_diagnostic.SA1629.severity = suggestion # 文档文本应以句号结尾
dotnet_diagnostic.SA1633.severity = suggestion # 文件应包含文件头

[{*.g.cs,*.generated.cs}]
dotnet_analyzer_diagnostic.severity = none # 对于生成的文件，取消所有 dotnet_analyzer_diagnostic 的警告

# ReSharper properties
resharper_align_linq_query = true # 启用对LINQ查询的对齐
resharper_align_multiline_argument = true # 启用多行参数的对齐
resharper_align_multiline_array_and_object_initializer = true # 启用多行数组和对象初始化器的对齐
resharper_align_multiline_binary_patterns = true # 启用多行二元模式的对齐
resharper_align_multiline_calls_chain = true # 启用多行调用链的对齐
resharper_align_multiline_extends_list = true # 启用多行扩展列表的对齐
resharper_align_multiline_parameter = true # 启用多行参数的对齐
resharper_align_multiline_property_pattern = true # 启用多行属性模式的对齐
resharper_align_multiline_switch_expression = true # 启用多行切换表达式的对齐
resharper_align_multiple_declaration = true # 启用多个声明的对齐
resharper_align_multline_type_parameter_constrains = true # 启用多行类型参数约束的对齐
resharper_align_multline_type_parameter_list = true # 启用多行类型参数列表的对齐
resharper_align_tuple_components = true # 启用元组组件的对齐
resharper_allow_comment_after_lbrace = true # 允许在大括号前添加注释
resharper_blank_lines_before_single_line_comment = 1 # 在单行注释前添加空行
resharper_csharp_empty_block_style = together_same_line # 设置空块的样式为“在一起，在同一行”
resharper_csharp_outdent_commas = true # 是否将逗号后的代码退缩
resharper_csharp_place_type_constraints_on_same_line = false # 在类型约束上是否保持在同一行
resharper_csharp_stick_comment = false # 是否将注释粘贴在代码行的末尾
resharper_csharp_wrap_before_comma = true # 在逗号前是否添加换行
resharper_indent_nested_for_stmt = true # 是否对嵌套的for语句进行缩进
resharper_indent_nested_foreach_stmt = true # 是否对嵌套的foreach语句进行缩进
resharper_indent_nested_while_stmt = true # 是否对嵌套的while语句进行缩进
resharper_indent_preprocessor_if = usual_indent # 设置预处理器指令`if`的缩进方式
resharper_indent_preprocessor_other = usual_indent # 设置其他预处理器指令的缩进方式
resharper_int_align = true # 启用整数对齐
resharper_keep_existing_arrangement = false # 在重新排列时是否保留现有的布局
resharper_place_linq_into_on_new_line = false # 是否将LINQ表达式放在新行
resharper_place_simple_embedded_statement_on_same_line = false # 是否将简单的嵌入式语句放在同一行
resharper_place_simple_switch_expression_on_single_line = true # 是否将简单的切换表达式放在单行
resharper_wrap_before_eq = true # 在等号前是否添加换行
resharper_wrap_chained_method_calls = chop_if_long # 是否拆分链式方法调用
resharper_wrap_switch_expression = chop_if_long # 是否拆分切换表达式

# Microsoft .NET properties
csharp_indent_braces = false # 设置为false表示花括号不跟随代码行缩进
csharp_new_line_before_open_brace = local_functions, methods, types # 这里设置为local_functions, methods, types，表示在局部函数、方法和类型定义的开放花括号前应换行